In [83]:
import pandas as pd
import pickle

df = pd.read_csv("train_df.csv")

In [84]:
del df["Unnamed: 0"]
df.head()

,TrainArticleID,Headline,Body,CompanyID
0,0,Press Release: Dassault Systèmes: Disclosure o...,"""Dassault ODDO & 585 :12:19...",1536
1,1,"Press Release: Home BancShares, Inc. Announces...","""Home BancShares, Inc.Announces Record Net Inc...",2408
2,2,Press Release: Mercury General Corporation -2-,"""-------------------------- \n', 'Net income ...",789
3,3,Press Release: Intelsat Reports Second Quarter...,"""Interest expense, net consists of the gross i...",3330
4,4,ON Semiconductor Files 8K - Other Events >ON,"""ON Semiconductor Corp.(ON) filed a Form 8K - ...",1844

In [ ]:
tmp = []
for idx,i in enumerate(df.CompanyID.values):
    k = i.split(",")
    temp = []
    for j in k:
        temp.append(j)
    df.CompanyID[idx] = temp

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [98]:
df.CompanyID[0]

'1536'

In [91]:
com=[]
for i in tmp:
    temp=[]
    for j in i:
        temp.append(int(j))
    com.append(temp)

ValueError: invalid literal for int() with base 10: '419 379 205'

## 데이터 불러오기

In [13]:
tmp = []
for i in df.CompanyID.values:
    k = i.split(",")
    for j in k:
        tmp.append(j)

In [25]:
temp = []
for i in tmp:
    k = i.split(" ")
    for j in k:
        temp.append(j)

In [31]:
company_id = [int(i) for i in temp]
len(company_id)

737019

In [30]:
len(set(company_id))

3751

In [3]:
company = pd.read_csv("company_map.txt")
company.head()

                   OfficialName Ticker  CompanyID
0               INTERSIL CORP-A   ISIL       2094
1  ARMADA HOFFLER PROPERTIES IN    AHH       3399
2                 REPLIGEN CORP   RGEN        866
3                    REGIS CORP    RGS        867
4                ROYAL GOLD INC   RGLD        868

In [11]:
tmp = []
for i in df.CompanyID.values:
    tmp.append(i.split(','))

In [ ]:
company_id = sum(tmp,[])

In [4]:
k = [1]
k.append(2)
k.append([1,2])

In [9]:
df.CompanyID.values

array(['1536', '2408', '789', ..., '2911', '3483', '1832'], dtype=object)