In [10]:
import pandas as pd
import pickle

df = pd.read_csv("train_df.csv")

del df["Unnamed: 0"]
df.head()

,TrainArticleID,Headline,Body,CompanyID
0,0,Press Release: Dassault Systèmes: Disclosure o...,"""Dassault ODDO & 585 :12:19...",1536
1,1,"Press Release: Home BancShares, Inc. Announces...","""Home BancShares, Inc.Announces Record Net Inc...",2408
2,2,Press Release: Mercury General Corporation -2-,"""-------------------------- \n', 'Net income ...",789
3,3,Press Release: Intelsat Reports Second Quarter...,"""Interest expense, net consists of the gross i...",3330
4,4,ON Semiconductor Files 8K - Other Events >ON,"""ON Semiconductor Corp.(ON) filed a Form 8K - ...",1844

In [11]:
df.CompanyID = [i.split(",") for i in df.CompanyID]

In [20]:
tmp = [i for i in df.CompanyID]

In [28]:
temp=[]
for i in df.CompanyID:
    tmp=[]
    for j in i:
        tmp.append(j.split(" "))
    temp.append(tmp)

In [42]:
kk=[]
for i in temp:
    tmp=[]
    for j in i:
        for k in j:
            tmp.append(int(k))
    kk.append(tmp)

In [47]:
df.CompanyID = kk

In [49]:
company_id = kk

In [53]:
df.head()

,TrainArticleID,Headline,Body,CompanyID
0,0,Press Release: Dassault Systèmes: Disclosure o...,"""Dassault ODDO & 585 :12:19...",[1536]
1,1,"Press Release: Home BancShares, Inc. Announces...","""Home BancShares, Inc.Announces Record Net Inc...",[2408]
2,2,Press Release: Mercury General Corporation -2-,"""-------------------------- \n', 'Net income ...",[789]
3,3,Press Release: Intelsat Reports Second Quarter...,"""Interest expense, net consists of the gross i...",[3330]
4,4,ON Semiconductor Files 8K - Other Events >ON,"""ON Semiconductor Corp.(ON) filed a Form 8K - ...",[1844]

In [54]:
company = pd.read_csv("company_map.txt")
company.head()

                   OfficialName Ticker  CompanyID
0               INTERSIL CORP-A   ISIL       2094
1  ARMADA HOFFLER PROPERTIES IN    AHH       3399
2                 REPLIGEN CORP   RGEN        866
3                    REGIS CORP    RGS        867
4                ROYAL GOLD INC   RGLD        868

In [58]:
unique_company = company.CompanyID.values

In [61]:
len(unique_company)

3751

In [66]:
tuple_id = [tuple(i) for i in company_id]

In [72]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
onehot = mlb.fit_transform(tuple_id)

In [73]:
mlb.classes_

array([   0,    1,    2, ..., 3748, 3749, 3750])

In [77]:
label = pd.DataFrame(columns=mlb.classes_)

In [80]:
onehot = pd.DataFrame(onehot)

In [81]:
onehot.to_csv("onehot.csv")

In [82]:
onehot.head()

,0,1,2,3,4,5,6,7,8,9,...,3741,3742,3743,3744,3745,3746,3747,3748,3749,3750
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
import numpy as np

def cosine(A,B): #원핫이어야 가능
    result = np.dot(A,B)/np.sqrt(np.dot(A,A)*np.dot(B,B))
    return result

def jaccard(s1, s2): # 인덱스로 가능
    return float(len(set(s1)&set(s2)))/(len(set(s1)|set(s2)))

In [142]:
a = [1,5,10]
b = [1,5,10,11]

A = [1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0]
B = [1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1]

In [143]:
cosine(A,B)

0.8660254037844387

In [139]:
jaccard(a,b)

0.75

In [ ]:
pred = list(CompanyID_pred)
company_id = [i.split(",") for i in CompanyID]
temp=[]
for i in company_id:
    k=[]
    for j in i:
        k.append(j.split(" "))
    temp.append(k)
tmp=[]
for i in temp:
    kk=[]
    for j in i:
        for l in j:
            kk.append(int(l))
    tmp.append(kk)

In [ ]:
pred = list(CompanyID_pred)
company_id = [i.split(",") for i in CompanyID]
temp=[]
for i in company_id:
    k=[]
    for j in i:
        k.append(j.split(" "))
    temp.append(k)
tmp=[]
for i in temp:
    kk=[]
    for j in i:
        for l in j:
            kk.append(int(l))
    tmp.append(kk)a

tuple_id = [tuple(i) for i in tmp]
tuple_pred = [tuple(i) for i in tmp]

mlb = MultiLabelBinarizer(classes=unique)
onehot = mlb.fit_transform(tuple_id)
onehot_pred = mlb.fit_transform(tuple_pred)